firebase-admin==2.14.0
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Dropzone==1.5.3
gcloud==0.17.0
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-firestore==0.31.0
google-cloud-storage==1.13.2
google-resumable-media==0.3.2
googleapis-common-protos==1.5.5
gunicorn==19.9.0
numpy==1.15.4
pandas==0.20.3
requests==2.21.0
scikit-image==0.13.0
scikit-learn==0.18.1